body{
    background-color:white;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    box-shadow: 0 0 1 0 lightslategray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
}
/*First line*/
.firstLine{
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-around;
}
#logo img{
    height: 40px;
}
#logo{
    display: flex;
    align-items: center;
}
header ol{
    display:flex;
    list-style: none;
}
header ul{
    display:flex;
    list-style: none;
}
header li{
    margin: 10px;
    padding: 10px;
}
#orderedList{
    color: rgba(128, 128, 128, 0.7);
    font-size: medium;
}
header li:hover{
    color: black;
    background-color:rgba(128, 128, 128, 0.5);
    border-radius: 50px;
}
#homeLi{
    color: black;
}
#homeLi:hover:not(.active){
    background-color: transparent;
}
#languageImage{
    height: 20px;
}
#menuImage{
    height: 20px;
}
/* Second Line: Search bar */
.search {
    font-size: x-small;
    align-items: center;
    border: 1px solid lightslategray;
    border-radius: 32px;
}

.search-item:hover + .divider {
    border: none;
    margin-right: 0.5px;
}

.divider:has(+ .search-item:hover) {
    border: none;
    margin-left: 0.5px;
}

.divider {
    border-right: 1px solid lightgray;
    height: 65%;
}

.search-item:hover {
    background-color: gainsboro;
    border-radius: 32px;
}

.search-item-text {
    padding-top: 5px;
    color: gray;
    font-weight: lighter;
}

.search-icon {
    height: 25px;
    margin-left: 20px;
}
/* utility classes */

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pr-5 {
    padding-right: 5px;
}

/* Third line: Second bar*/

nav{
    width: 100%;
    position: fixed;
    display: flex;
    margin-top: 200px;
    flex-direction:row;
    justify-content: center;
}

.icons-images img {
    height: 25px;
}

.icons-text {
    color: lightslategray;
    font-size: x-small;
}

.icons-flex {
    width: 40px;
    display: flex;
    padding: 5px 15px;
    margin: 5px 15px;
    flex-direction:column;
}

.icons-flex:hover {
   text-decoration: underline;
   color:lightslategray
}