*{
    box-sizing: border-box;
}
h1 {
    font-size: 5vw;
}  

p {
    font-size: 2.5vw;
}

.left{
    color: white;
    background-color: #111;
    padding: 20px;
    float: left;
    width: 20%;
} 

.main{
    color: white;
    background-color: #222;
    padding: 20px;
    float: left;
    width: 60%;
}

.right{
    color: white;
    background-color: #111;
    padding: 20px;
    float: left;
    width: 20%;
}

@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}