body {
    font-family: "Sofia", sans-serif;
}
header img {
    height: 300px ;
    float: right;
}
header p {
    font-size: larger;
}
h1 {
    text-align: center;
}
main {
    text-align: center;
}
footer {
    display: flex;
}
footer.div {
    width: 50%;
}
#video {
    border: 5px dotted lightblue;
    padding: 10px;
    margin: 5px;
}
#summary {
    border: 5px dotted lightgreen;
    margin: 5px;
    padding: 10px;
}